body{
    background-image: url('../images/Background3.png');
    overflow: hidden;
    width: 100%;
    height: 99.7vh;
}

.d0 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.d1 {
    height: 10%;
    width: 100%;
    display: flex;

    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.flop {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.entrar {
    display: flex;
    font-size: 150%;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.d2 {
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
 
}
.d222 {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.legenda {
    font-size: 150%;
}
.campo {
    width: 60%;
    height: 20%;
    border: 3px solid white;
}

.butao {
    margin: 5%;
    display: flex;
    flex-direction: row;
}
.button {
    font-family: 'Times New Roman', Times, serif;
margin-left: 10px;
    background-color: yellow;
    border: 0px;
    width: 100%;
    height: 150%;
    font-size: 130%;
}
.button:hover
{
cursor: pointer;
background-color: orange;
}
.button2 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
    background:transparent;
    border: 0px;
    width: 250%;
    height: 150%;
    font-size: 130%;
    color: yellow;
}
.login {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size: 150%;
    color: white;
    border: 6px white double;
}
.d21 {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}
.d3 {
    height: 10%;
    width: 100%;
    display: flex;

    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.titulo {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
 .wf {
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    justify-items: center;

}

.footer {
    display: flex;
    width: 100%;
    display: inline-block;
    font-size: 2vw;
    z-index: 1;
}

span {
    padding-left: 9.8%;
}

.branco{
    color: white;
    background-color: white;    
    font-size: 1px;
    line-height: 300%;
}
#comprar {
    color: yellow;
}

#login {
    color: yellow;
}

#menupadrao {
    color: white;
}

rect {
    width: 200px;
    height: 10px;
    background: white;
}

@media screen and (max-width:450px) {
    .d1 {
        height: 8%;
    }
    .d2 {
        height: 80%;
        
    }
    .d21 {
        height: 50%;
        width: 70%;
    }
    .d22 {
        height: 50%;
        width: 70%;
    }
    .neymar {
        width: 80%;
        height: 80%;
    }
    .footer {
        display: flex;
        width: 100%;
        display: inline-block;
        font-size: 2.8vw;
        z-index: 1;
    }
    span {
        padding-left: 7.4%;
    }
}

@media screen and (min-width:450px) and (max-width:900px){
    .d1 {
        height: 10%;
    }
    .d2 {
        height: 78%;
    }
    .d21 {
        height: 50%;
        width: 70%;
    }
    .d22 {
        height: 50%;
        width: 70%;
    }
    .neymar {
        width: 50%;
        height: 80%;
    }
}