body
{
    background-image: url('../images/Background3.png');
    overflow: hidden;
    width: 100%;
    height: 99.7vh;
}

.d0 
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.d1 
{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.mundo 
{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.tits {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.d2 {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}
.d222
{
    width: 25%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.floppy_disk
{
    animation: intro 1s linear;
    width: 70%;
}
.d21 {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.neymar 
{
    width: 80%;
}
.d22 
{
    height: 100%;
    width: 30%;
    font-size: 90%;
}
.into 
{
    display: flex;
    font-size: 280%;
    color: white;
    text-align: center;
    margin: 4.5%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.d3 
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.titulo 
{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
 .wf 
 {
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    justify-items: center;

}

.footer 
{
    display: flex;
    width: 100%;
    display: inline-block;
    font-size: 2vw;
    z-index: 1;
}

span 
{
    padding-left: 9.8%;
}

.branco
{
    color: white;
    background-color: white;    
    font-size: 1px;
    line-height: 300%;
}

@keyframes intro 
{
    0% {width: 100000px;}
    100% {width: 70%;}
}
#comprar 
{
    color: yellow;
}

#login {
    color: yellow;
}

#menupadrao {
    color: white;
}

rect {
    width: 200px;
    height: 10px;
    background: white;
}

@media screen and (max-width:450px) {
    .d1 {
        height: 15%;
        justify-content: space-between;
    }
    .d2 {
        height: 70%;
        flex-direction: column;
    }
    .d21 {
        height: 50%;
        width: 70%;
    }
    .d22 {
        height: 50%;
        width: 70%;
    }
    .neymar {
        width: 60%;
        height: 80%;
    }
    .footer {
        display: flex;
        width: 100%;
        display: inline-block;
        font-size: 2.8vw;
        z-index: 1;
    }
    span {
        padding-left: 7.4%;
    }
}

@media screen and (min-width:450px) and (max-width:900px){
    .d1 {
        height: 15%;
        justify-content: space-between;
    }
    .d2 {
        height: 70%;
        flex-direction: column;
    }
    .d21 {
        height: 50%;
        width: 70%;
    }
    .d22 {
        height: 50%;
        width: 70%;
    }
    .neymar {
        width: 50%;
        height: 80%;
    }
}